img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.capital {
    text-transform: uppercase;
}

.fontl {
    font-weight: 300;
}

.fontr {
    font-weight: 400;
}

.fontm {
    font-weight: 500;
}

.fontb {
    font-weight: 700;
}

.fontbb {
    font-weight: 900;
}

.custom-btn {
    background-color: $btn_bg !important;
    border: 0;
    outline: none;
    font-size: 1em;
    border-radius: 10px;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.custom-link {
    color: $link_clr !important;
    text-decoration: none !important;
}

.page-content {
    display: flex;
    flex-direction: column;
    &.active {
        min-height: 100vh;
    }
    .content-wrapper {
        flex: 1;
    }
}

.v-center {
    display: flex;
    align-items: center;
    justify-content: center;
}