header {
    background-color: $header_bg;
    color: $header_clr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px 0px rgba(0,0,0,0.5);
    .back-btn {
        background-color: transparent !important;
        border: 0;
        box-shadow: none !important;
        outline: none;
        font-size: 24px;
        font-weight: bold;
    }
    .page-title {
        margin: 0;
        font-size: 20px;
        font-weight: 300;
    }
    .right-menus {
        display: flex;
        &__item {
            a {
                padding: 10px;
                color: $header_clr;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}