<template>
    <div class="allmyads content-wrapper">
        <div class="allmyads__header">
            <b-form-datepicker id="example-datepicker" v-model="selectedDate" class="mb-2"></b-form-datepicker>
        </div>
        <div class="allmyads__table">
            <b-table striped hover responsive :items="myads.items"></b-table>
        </div>
        <div class="allmyads__footer">
            <router-link to="/newadd" class="custom-btn capital allmyads__footer__btn"><b-icon icon="plus" /> create new ad</router-link>
        </div>

    </div>
</template>

<script>
import allmyads from '@/mock/allads.json'
export default {
    data() {
        return {
            myads: allmyads,
            selectedDate: ''
        }
    },
    created() {
        this.$store.state.activePageTitle = 'All my ads'
    }
}
</script>