<template>
    <div class="landingpage">
        <div class="landingpage__inner text-center">
            <h4 class="landingpage__inner__title fontm">adfast</h4>
            <img src="@/assets/images/landingbg.png" alt="" class="landingpage__inner__img" />
            <router-link :to="{path: 'login', query: {state: 'sign up'}}"><b-button block class="custom-btn capital fontl">signup</b-button></router-link>
            <router-link :to="{path: 'login', query: {state: 'login'}}" class="capital custom-link landingpage__inner__link">already have an account?</router-link>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        console.log(this.$lang, "lang")
    }
}
</script>
