<template>
    <div class="newadPage content-wrapper">
        <div class="newadPage__content">
            <div v-if="activeState == 0">
                <h4 class="newadPage__content__title">{{ newAdDestinations.title }}</h4>
                <div class="newadPage__content__group">
                    <div class="newadPage__content__group__item" v-for="(item, index) in newAdDestinations.list" :key="index">
                        {{ item.text }}
                        <label class="switch" :class="{'active': item.isSelected}"><input type="checkbox" v-model="item.isSelected" />    <div></div></label>
                    </div>
                </div>
            </div>
            <b-form @submit="submitAd">
                <div class="newadPage__content__form" v-for="(formItem, formIndex) in formData" :key="formIndex" v-show="activeState == formIndex+1">
                    <template v-for="(input, inputIndex) in formItem.step">
                        <div v-if="input.inputType == 'imageupload'" :key="inputIndex">
                            <label for="">{{ input.label }}</label>
                            <div style="background: #ccc; border: 1px solid #bbb; width: 100%; height: 200px; margin-bottom: 20px"></div>
                        </div>
                        <b-form-group
                            :key="inputIndex"
                            :id="input.label"
                            :label="input.label"
                            :label-for="input.label"
                            v-if="input.inputType !== 'textarea' && input.inputType !== 'imageupload'"
                        >
                            <b-form-input
                                id="input-1"
                                :type="input.inputType"
                                v-model="input.value"
                                :placeholder="input.placeholder"
                                ></b-form-input>
                        </b-form-group>
                        <div v-if="input.inputType == 'textarea'" :key="inputIndex">
                            <label for="">{{ input.label }}</label>
                            <b-form-textarea
                            :id="input.label"
                            :placeholder="input.placeholder"
                            rows="3"
                            max-rows="6"
                            v-model="input.value"
                            
                            ></b-form-textarea>
                            <b-button type="submit" class="custom-btn capital adsubmitbtn" v-if="formData.length - 1 == formIndex">launch</b-button>
                        </div>
                    </template>
                </div>
            </b-form>
        </div>
        <div class="newadPage__footer">
            <b-button class="custom-btn capital" :disabled="activeState == 0" @click="activeState--"><b-icon icon="arrow-left-short" /> Prev</b-button>
            <b-button class="custom-btn capital" v-if="activeState < 2" @click="activeState++"><b-icon icon="arrow-right-short" /> Next</b-button>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        this.$store.state.activePageTitle = 'Choose platform to advertise'
    },
    computed: {
        newAdDestinations:{
            get() {
                return this.$store.state.newAd.destinations
            },
            set(newVal) {
                this.$store.state.newAd.destinations = newVal
            }
        },
        activeState: {
            get() {
                return this.$store.state.newAd.activeState
            },
            set(newVal) {
                if(newVal == 0)
                    this.$store.state.activePageTitle = 'Choose platform to advertise'
                else if(newVal == 1)
                    this.$store.state.activePageTitle = 'Write your ad'
                else
                    this.$store.state.activePageTitle = 'Launch your ad'
                this.$store.state.newAd.activeState = newVal
            }
        },
        formData: {
            get() {
                return this.$store.state.newAd.formData
            },
            set(newVal) {
                this.$store.state.newAd.formData = newVal
            }
        }
    },
    methods: {
        submitAd(evt) {
            evt.preventDefault()
            this.$router.push('/thanks')
        }
    }
}
</script>