<template>
    <div class="content-wrapper thanksPage v-center text-center">
        <div class="thanksPage__content">
            <h4 class="thanksPage__content__title">Thanks for using adfast!</h4>
            <p>your ad is being processed and will be<br /> approved soon</p>
            <img src="@/assets/images/landingbg.png" alt="thanks response from adfast">
        </div>
        <div class="thanksPage__footer">
            <div class="thanksPage__footer__item" v-for="(link, linkIndex) in thanksData.navList" :key="linkIndex">
                <router-link :to="link.link">
                    <div></div>
                    <div>{{ link.text }}</div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        this.$store.state.newAd.activeState = 0
    },
    computed: {
        thanksData() {
            return this.$store.state.thanksData
        }
    }
}
</script>