.allmyads {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 576px) {
        padding-bottom: 50px;
    }
    &__header {
        padding: 50px 25px 0 25px ;
    }
    &__table {
        width: 800px;
        max-width: 90%;
        padding: 50px;
        @media screen and (max-width: 576px) {
            padding: 20px;
        }
        table {
            border: 1px solid #ccc;
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
        &__btn {
            border-radius: 4px;
            text-decoration: none !important;
            width: 217px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white !important;
            letter-spacing: 2px;
            svg {
                font-size: 2em;
            }
        }
    }
}