.dashboard {
    &__btns {
        display: flex;
        flex-direction: column;
        width: 225px;
        a {
            height: 36px;
            color: $dashboard-link_clr;    
            line-height: 36px;
            text-align: center;
            font-size: 14px;
            border-radius: 4px;
            font-weight: 400;
            text-transform: capitalize;
            text-decoration: none;
            cursor: pointer;
            &:nth-last-child(n+2) {
                margin-bottom: 14px;
            }
        }
    }
}