.landingpage {
    display: grid;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    &__inner {
        width: 335px;
        padding: 15px;
        &__title {
            color: $landingPage-clr;
            font-size: 3em;
        }
        &__img {
            padding: 20px 20px 50px;
        }
        &__link {
            margin-top: 30px;
            display: block;
        }
        a {
            text-decoration: none;
        }
    }
}