.loginWrapper {
    background-color: $loginBg;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    @media screen and (max-width: 576px) {
        padding: 20px;
    }
    &__title {
        font-size: 3em;
        color: #ffffff;
    }
}

.authForm {
    padding: 15px 60px;
    background-color: $authForm_bg;
    width: 518px;
    max-width: 80%;
    border-radius: 8px;
    @media screen and (max-width: 576px) {
        padding: 15px;
    }
    &__title {
        text-transform: capitalize;
        text-align: center;
        color: $authForm-title_bg;
        font-size: 1.5em;
    }
    &__or {
        text-align: center;
        color: $authForm-title_bg;
        font-size: 1.5em;
    }
    .socialmedia__btns {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        &__btn {
            margin-bottom: 15px;
            text-transform: uppercase;
            border: 0;
            box-shadow: none;
            border-radius: 0;
            padding: 10px;
            font-size: 18px;
            font-weight: 500;
            &.google {
                background-color: #ffffff;
                color: #aaaaaa;
                box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 50px 10px 20px;
                img {
                    width: 30px;
                }
            }
            &.facebook {
                background-color: #45568e;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 5px 10px;
                img {
                    width: 40px;
                    margin-right: 8px;
                }
            }
            &.instagram {
                background-image: linear-gradient(to top, #e9e9e9, #f8f8f8);
                border: 1px solid #bbbbbb;
                color: #777777;
                position: relative;
                padding-right: 50px;
                img {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                }
            }
            &.green {
                background-color: $green;
            }
            &.blue {
                background-color: $blue;
            }
            &.pink {
                background-color: $pink;
            }
        }
    }
    &__form {
        input {
            box-shadow: none !important;
        }
        &__btn {
            background-color: $theme-clr2 !important;
            border: 0;
            box-shadow: none;
            font-size: 1em;
            padding: 10px;
            margin: 50px 0 15px;
            cursor: pointer;
        }
        .authlink {
            margin-top: 15px;
            cursor: pointer;
        }
    }
}