.newadPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        @media screen and (max-width: 576px) {
            padding: 20px;
        }
        &__title {
            font-size: 1.4em;
            color: $text-clr;
            margin-bottom: 30px;
        }
        &__group {
            &__item {
                display: flex;
                justify-content: space-between;
                color: $text-clr;
                font-size: 1.2em;
                margin-bottom: 15px;
            }
        }
        form {
            @media screen and (max-width: 576px) {
                width: 100%;
            }
        }
        &__form {
            width: 343px;
            @media screen and (max-width: 576px) {
                width: 100%;
            }
            label {
                font-size: 1.2em;
                color: $text-clr;
                text-transform: capitalize;
            }
            input {
                box-shadow: none !important;
                outline: none !important;
            }
            .adsubmitbtn {
                border-radius: 4px;
                width: 160px;
                height: 36px;
                display: block;
                margin: 40px auto;
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 50px 50px;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            button {
                &:nth-child(n+2) {
                    margin-top: 10px;
                }
            }
        }
        button {
            border-radius: 4px;
            min-width: 160px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                font-size: 30px !important;
            }
        }
    }
}

.switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    margin-left: 20px;
    height: 1em;
    width: 2em;
    border-radius: 1em;
    position: relative;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        width: 2em;
        height: 12px;
        background-color: rgba($color: $error_clr, $alpha: 0.4);
        border-radius: 1em;
        top: 50%;
        @include translateY(-50%);
    }
    &.active {
        &::after {
            background-color: rgba($color: $theme-clr1, $alpha: 0.4);
        }
        div {
            background-color: $theme-clr1;
        }
    }
    div {
        height: 1em;
        width: 1em;
        border-radius: 1em;
        background: $error_clr;
        // margin-top: -4px;
        box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
        z-index: 1;
        position: relative;
        -webkit-transition: all 300ms;
           -moz-transition: all 300ms;
                transition: all 300ms;
      }
      input {
        position: absolute;
        opacity: 0;
      }
      input:checked + div {
        -webkit-transform: translate3d(100%, 0, 0);
           -moz-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
      }
  }