.thanksPage {
    &__content {
        width: 414px;
        max-width: 90%;
        color: $text-clr;
        padding-bottom: 57px;
        &__title {
            font-size: 30px;
            text-transform: lowercase;
            font-weight: 400;
        }
        p {
            font-size: 1.2em;
        }
        img {
            width: 80%;
        }
    }
    &__footer {
        position: fixed;
        width: 100%;
        height: 57px;
        background-color: #ffffff;
        box-shadow: 0 0 8px 0 #ccc;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        &__item {
            width: 168px;
            display: flex;
            justify-content: center;
            a {
                display: flex;
                justify-content: center;
                flex-direction: column;
                color: $lt-text-clr;
                text-decoration: none;
                &:hover {
                    color: $theme-clr1;
                }
            }
        }
    }
}