<template>
  <div class="authForm">
      <h6 class="authForm__title fontm">{{ activeAuthState }}</h6>
      <div class="socialmedia__btns">
          <b-button class="socialmedia__btns__btn" v-for="(btn, btnIndex) in socialMediaBtns" :key="btnIndex" :class="btn.class">
              <img v-if="btn.imgSrc" :src="btn.imgSrc" alt="social icon">
              continue with {{ btn.text }}</b-button>
      </div>
      <h6 class="authForm__or">or</h6>
      <div class="authForm__form">
          <b-form @submit="onSubmit">
            <b-form-group
                id="input-group-1"
                label="Email"
                label-for="input-1"
            >
                <b-form-input
                id="input-1"
                v-model="formFields.email"
                type="email"
                required
                placeholder="Enter email..."
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Password" label-for="input-2">
                <b-form-input
                id="input-2"
                type="password"
                v-model="formFields.name"
                required
                placeholder="Enter password..."
                ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-3" label="Full Name" label-for="input-3" v-if="activeAuthState.toLowerCase() === 'sign up'">
                <b-form-input
                id="input-3"
                v-model="formFields.fullname"
                required
                placeholder="Enter full name..."
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" block class="capital fontl authForm__form__btn" v-if="activeAuthState.toLowerCase() === 'sign up'">Signup</b-button>
            <b-button type="submit" block class="capital fontl authForm__form__btn" @click="login" v-else>login</b-button>
            <router-link :to="{path: 'login', query: {state: 'login'}}" class="capital custom-link text-center d-block authlink" v-if="activeAuthState.toLowerCase() === 'login'">forgot password?</router-link>
            <router-link :to="{path: 'login', query: {state: 'sign up'}}" class="capital custom-link text-center d-block authlink" v-if="activeAuthState.toLowerCase() === 'login'">signup</router-link>
            <router-link :to="{path: 'login', query: {state: 'login'}}" class="capital custom-link text-center d-block authlink" v-else>already have an account?</router-link>

            </b-form>
      </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            socialMediaBtns: [
                { text: 'google', class: 'google', imgSrc: require('@/assets/images/google.png') },
                { text: 'facebook', class: 'facebook', imgSrc: require('@/assets/images/facebook.png') },
                { text: 'instagram', class: 'instagram', imgSrc: require('@/assets/images/instaimg.png') }
            ],
            formFields: {
                email: '',
                name: ''
            }
        }
    },
    computed: {
        activeAuthState() {
            return this.$route.query && this.$route.query.state
        }
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault()
            this.$router.push({ path: '/login', query: { state: 'login' } })
        },
        login() {
            this.$router.push('/dashboard')
        }
    }
}
</script>