<template>
  <div id="app">
    <div v-if="pathName.pathname == '/'">
      <LandingPage />
    </div>
    <div v-if="pathName.pathname == '/login'">
      <LoginPage />
    </div>
    <div class="page-content" :class="{'active':pathName.pathname != '/' && pathName.pathname != '/login'}">
      <HeaderComponent v-if="pathName.pathname != '/' && pathName.pathname != '/login' && pathName.pathname != '/thanks'" />
      <router-view />
    </div>
  </div>
</template>

<script>
import LandingPage from '@/pages/Landing'
import LoginPage from '@/pages/Login'
import HeaderComponent from '@/components/HeaderComponent'
export default {
  name: 'App',
  components: {
    LandingPage,
    LoginPage,
    HeaderComponent
  },
  computed: {
    pathName() {
      return location
    }
  }
}
</script>
